<div class="table-container" *ngIf="data?.value?.solve_args">

    <h2>Solve Arguments</h2>

    <table>
        <thead>
            <tr>
                <th>Argument</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>

            <ng-container *ngFor="let a of data.value.solve_args | keyvalue">

                <tr>
                    <td>{{a.key}}</td>
                    <td>{{a.value}}</td>
                </tr>

            </ng-container>

        </tbody>
    </table>

</div>