<div class="table-container key-value" *ngIf="kv">
    <h2>Full Calibration Data</h2>

    <table>
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>

            <ng-container *ngFor="let field of kv">

                <tr>
                    <td>{{field.key}}</td>
                    <td>{{field.value}}</td>
                </tr>

            </ng-container>

        </tbody>
    </table>

</div>