table, th, td {
    border: 1px solid black;
    padding: 5px;
    background-color: white;
}

.table-container {
    padding: 5px;
    margin: 10px;
    background: rgb(220, 219, 219);
    border-radius: 5px;;
}