<div class="table-container" *ngIf="kv">
    <h2>Quick Calibration Data</h2>

    <table>
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>RA (deg)</td>
                <td>{{ data.value.calibration.ra_center }}</td>
            </tr>

            <tr>
                <td>Dec (deg)</td>
                <td>{{ data.value.calibration.dec_center }}</td>
            </tr>

            <tr>
                <td>Pixel Scale (arcsec/pixel)</td>
                <td>{{ data.value.calibration.pixscale }}</td>
            </tr>

            <tr>
                <td>Field Width ({{ data.value.calibration.fieldunits }})</td>
                <td>{{ data.value.calibration.fieldw }}</td>
            </tr>

            <tr>
                <td>Field Height ({{ data.value.calibration.fieldunits }})</td>
                <td>{{ data.value.calibration.fieldh }}</td>
            </tr>

            <tr>
                <td>Field Orientation (degrees East of North)</td>
                <td>{{ orientation() }}</td>
            </tr>

            <tr>
                <td>Field Parity</td>
                <!-- this is the opposite of what you'd expect... -->
                <td>{{ data.value.calibration.parity == -1 ? 'positive' : 'negative' }}</td>
            </tr>

        </tbody>
    </table>

</div>
