<mat-tab-group class="tab-style" headerPosition="below">
    <mat-tab label="Original">
        <img [src]="astroSvc.image(jobID) + '?' + cacheBuster" default="../assets/no_image.svg">
    </mat-tab>
    <mat-tab label="Extracted Objects">
        <img [src]="astroSvc.image(jobID,'objs') + '?' + cacheBuster" default="../assets/no_image.svg">
    </mat-tab>
    <mat-tab label="Index">
        <img [src]="astroSvc.image(jobID,'indx') + '?' + cacheBuster" default="../assets/no_image.svg">
    </mat-tab>
    <mat-tab label="Annotated">
        <img [src]="astroSvc.image(jobID,'ngc') + '?' + cacheBuster" default="../assets/no_image.svg">
    </mat-tab>
    <mat-tab label="Logs">
        <app-logs [jobId]="jobID"></app-logs>
    </mat-tab>
</mat-tab-group>