
:host ::ng-deep .mat-tab-body-content{
    overflow-y: hidden;
    overflow-x: hidden;
}

mat-tab-group {
    flex: 1 1 auto;
    background-color: white;
    outline-color: black;
    outline-style: solid;
    max-height: 75vh;
    max-width: 98vw;
    
    img {
        max-height: 100%;
        max-width: 100%;
    }
}