<div class="table-container">
    <h2>Description</h2>
    <pre>{{ data.value?.description }}</pre>
    <h2>Tags</h2>
    <mat-chip-list>
        <ng-container *ngFor="let tag of data.value?.tags.user">
            <mat-chip color="accent" selected>
                <mat-icon>face</mat-icon>
                <span class="tag-text">{{ tag }}</span>
            </mat-chip>
        </ng-container>
        <ng-container *ngFor="let tag of data.value?.tags.machine">
            <mat-chip color="primary" selected>
                <mat-icon>grade</mat-icon>
                <span class="tag-text">{{ tag }}</span>
            </mat-chip>
        </ng-container>
    </mat-chip-list>
</div>