table, th, td {
    border: 1px solid black;
    padding: 5px;
    background-color: white;
}

.table-container {
    padding: 5px;
    margin: 10px;
    background: rgb(220, 219, 219);
    border-radius: 5px;;
}

mat-chip-list {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(114, 112, 112);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.tag-text {
    padding-left: 3px;
}