<div class="table-container" *ngIf="data.value?.time">
    <h2>Event Times</h2>
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Stage</th>
                <th>Event</th>
            </tr>
        </thead>
        <tbody>

            <ng-container *ngFor="let event of events">

                <tr>
                    <td>{{event.time}}</td>
                    <td>{{event.stage}}</td>
                    <td>{{event.event}}</td>
                </tr>

            </ng-container>

        </tbody>
    </table>
</div>