mat-table {
    margin: 5px;
    .mat-row:nth-child(even){
        background-color:rgb(255, 255, 255);
        }

    .mat-row:nth-child(odd){
        background-color:rgb(210, 208, 208);
        }
    overflow-x: scroll
}

.table-image {
    max-height: 10vh;
    max-height: 15vw;
    background-color: transparent;
}