<mat-table [dataSource]="astroSvc.job_list.value" class="mat-elevation-z8">

    <!-- Timestamp -->
    <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef> Time Created </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.time.submitted}} </mat-cell>
    </ng-container>

    <!-- ID -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <a [routerLink]="['/view', element.id]" >{{element.id.split('-').pop()}}</a>
        </mat-cell>
    </ng-container>

    <!-- Original Image-->
    <ng-container matColumnDef="original">
        <mat-header-cell *matHeaderCellDef> Original Image </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <a [href]="astroSvc.image(element.id)" target="_blank">
                <img [src]="astroSvc.image(element.id)" class="table-image" default="../assets/no_image.svg">
            </a>
        </mat-cell>
    </ng-container>

    <!-- Index Image-->
    <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> Index Image </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <a [href]="astroSvc.image(element.id,'indx')" target="_blank">
                <img [src]="astroSvc.image(element.id,'indx')" class="table-image" default="../assets/no_image.svg">
            </a>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <!-- <mat-header-row *matHeaderRowDef="dynamicColumns()"></mat-header-row>
    <mat-row *matRowDef="let row; columns: dynamicColumns();"></mat-row> -->

</mat-table>