<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="toolbar-title">Astrometry</span>
        <button mat-button routerLink="/submit" routerLinkActive="active">Submit</button>
        <button mat-button routerLink="/search" routerLinkActive="active">Search</button>
        <span class="toolbar-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>