// .toolbar-title {
// }

.toolbar-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    .active {
        background-color: grey;
    }
    button {
        margin-left: 10px;
        margin-right: 10px
    }
}
