.logs {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: auto;
    // padding: 2px;
    color: white;
    font: .75rem Inconsolata, monospace;
  }
::selection {
    background: #0080FF;
    text-shadow: none;
}

.container {
    overflow: hidden;
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
}

.to-bottom {
    position: absolute;
    top: 20px;
    right: 20px;
}