<div class="container">

    <mat-progress-bar *ngIf="live_logs" mode="indeterminate" color="primary"></mat-progress-bar>

    <pre #scrollframe class="logs" (scroll)="scrolled($event)">{{ logs.value.join('\n') }}</pre>

    <button class="to-bottom" mat-raised-button color="accent" (click)="scrollToBottom()" *ngIf="!isNearBottom">Go to Bottom</button>

</div>
