.container {
    width: 100%;
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.title {
    padding: 3px;
    margin: 5px;
    font-weight: bold;
    .jobid {
        background-color: rgb(218, 218, 218);
        border-radius: 3px;
        padding: 3px;
    }
}



.logs {
    max-width: 100%;
    background-color: black;
    overflow: scroll;
    padding: 2px;
    color: white;
    font: .75rem Inconsolata, monospace;
  }
::selection {
    background: #0080FF;
    text-shadow: none;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    background-color: white;
}

mat-tab-group {
    flex: 1 1 auto;
    background-color: white;
    outline-color: black;
    outline-style: solid;
    max-height: 75vh;
    max-width: 98vw;
    
    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.table-container {
    padding: 5px;
    margin: 10px;
    background: rgb(220, 219, 219);
    border-radius: 5px;;
}