<div class="container">

    <div>

        <div class="title">Job ID: <span class="jobid">{{ jobID }}</span></div>
        
        <span *ngIf="!data.value?.calibration">(Updating every 3 seconds)</span>

        <app-image-viewer [jobID]="jobID" [cacheBuster]="cacheBuster"></app-image-viewer>

    </div>

    <div>

        <app-quick-calibration-table [data]="data" *ngIf="data.value?.calibration"></app-quick-calibration-table>

        <app-tags [data]="data"></app-tags>
        
        <app-events-table [data]="data"></app-events-table>

        <app-solve-args [data]="data"></app-solve-args>

        <app-calibration-table [data]="data" *ngIf="data.value?.calibration"></app-calibration-table>

    </div>

</div>