.container {
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 100%;
}

mat-radio-button {
    margin: 5px;
}
mat-form-field {
    padding: 5px;
    width: 100%;
}
mat-slide-toggle {
    padding: 5px;
}

mat-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}   

.form-container {
    padding: 2px;
    width: 100%;
}

.preview {
    background: rgb(247, 244, 244);
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    align-self: stretch;
    flex: 1 1 auto;
}

.solve_args {
    margin-bottom: 2px;
    padding: 2px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.arg {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(208, 244, 244);
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: stretch;
    
    .description {
        background-color: rgb(82, 81, 81);
        color: white;
        padding: 8px;
        flex:  1 1 auto;
    }
    .controls {
        flex: 1 1 auto;
        padding: 5px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        
    }
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.horrizontal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.floating-panel {
    pointer-events: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .submit-button {
        pointer-events: fill;
        align-self: flex-end;
        margin: 30px;
    }
    .jobid {
        flex: 1 1 auto;
        border-radius: 5px;
        margin: 5px;
        padding: 10px;
        background-color: rgb(247, 215, 35);
        display: flex;
        justify-content: space-between;
        align-items: center;
        pointer-events: fill;
    }
}



.fill {
    flex: 1 1 auto;
}