<div class="container vertical">

    <!-- <ngx-json-viewer *ngIf="isDev" class="preview" [json]="params"></ngx-json-viewer> -->

    <form [formGroup]="submitForm" class="form-container">

        <div class="solve_args">

            <h2>Source Image</h2>

            <div class="arg">
                <div class="description">
                    Pick an image to upload, or provide a URL to an image.
                </div>
                <div class="controls">
                    <mat-radio-group formControlName="file_upload">
                        <mat-radio-button [value]="true">Upload Image File</mat-radio-button>
                        <mat-radio-button [value]="false">Submit Image URL</mat-radio-button>
                    </mat-radio-group>
                    <mat-form-field *ngIf="!submitForm.value.file_upload">
                        <mat-label>Image URL</mat-label>
                        <input matInput type="text" formControlName="url">
                    </mat-form-field>
                    <input *ngIf="submitForm.value.file_upload" type="file" (change)="getFile($event.target.files[0])">
                </div>
            </div>

            <div class="arg">
                <div class="description">
                    Provide a long-form description of the image (if desired)
                </div>
                <div class="controls">
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea matInput type="text" formControlName="description" style="min-height: 100px;"></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div class="arg">
                <div class="description">
                    Provide custom tags for this image.
                </div>
                <div class="controls">
                    <mat-form-field>
                        <mat-chip-list #chipList aria-label="Image tags">
                          <mat-chip *ngFor="let tag of submitForm.value.tags" selectable="true"
                                   removable="true" (removed)="removeTag(tag)">
                            {{tag}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                          </mat-chip>
                          <input placeholder="Image tags..."
                                 [matChipInputFor]="chipList"
                                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                 [matChipInputAddOnBlur]="true"
                                 (matChipInputTokenEnd)="addTag($event)">
                        </mat-chip-list>
                      </mat-form-field>
                </div>
            </div>

        </div>


        <div class="solve_args" formGroupName='solve_args'>

            <h2>Solve Options</h2>

            <div class="arg">
                <div class="description">
                    Downsample your image by a given factor before performing the source extraction.
                </div>
                <div class="controls">
                    <mat-form-field style="width: 100px;">
                        <mat-label>Downsample (scale)</mat-label>
                        <input matInput type="number" formControlName="z">
                    </mat-form-field>
                </div>
            </div>

            <div class="arg">
                <div class="description">
                    By default we try to compute a SIP polynomial distortion correction with order 2. You can disable
                    this
                    by changing the order to 0, or change the polynomial order.
                </div>
                <div class="controls">
                    <mat-form-field style="width: 100px;">
                        <mat-label>Tweak (order)</mat-label>
                        <input matInput type="number" formControlName="tweak_order">
                    </mat-form-field>
                </div>
            </div>

            <div class="arg">
                <div class="description">
                    When we find a matching "landmark", we check to see how many of the stars in your field match up
                    with
                    stars we know about. To do this, we need to know how much a star in your field could have moved from
                    where it should be.
                </div>
                <div class="controls">
                    <mat-form-field style="width: 140px;">
                        <mat-label>Star Positional Error (pixels)</mat-label>
                        <input matInput type="number" formControlName="star_positional_error">
                    </mat-form-field>
                </div>
            </div>

            <div class="arg">
                <div class="description">
                    By default the reference point (CRPIX) of the WCS we compute can be anywhere in your image, but
                    often
                    it's convenient to force it to be the center of the image.
                </div>
                <div class="controls">
                    <mat-slide-toggle formControlName="crpix-center">CRPIX Center</mat-slide-toggle>
                </div>
            </div>

            <div class="arg">
                <div class="description">
                    Set this if your image is black-on-white (inverted) rather than white-on-black.
                </div>
                <div class="controls">
                    <mat-slide-toggle formControlName="invert">Invert</mat-slide-toggle>
                </div>
            </div>

            <div class="arg">
                <div class="description">
                    We can detect stars using SExtractor, or our own built-in star detector "simplexy". If the built-in
                    one
                    fails, give this a try.
                </div>
                <div class="controls">
                    <mat-slide-toggle formControlName="sextractor">Use SourceExtractor</mat-slide-toggle>
                </div>
            </div>

            <div class="arg">
                <div class="description">
                    Flipping an image reverses its "parity". If you point a digital camera at the sky and submit the
                    JPEG,
                    it probably has negative parity. If you have a FITS image, it probably has positive parity.
                    Selecting
                    the right parity will make the solving process run faster, but if in doubt just try both.
                </div>
                <div class="controls">
                    <label>Field Parity:</label>
                    <mat-radio-group formControlName="parity">
                        <mat-radio-button [value]="false">both simultaneously</mat-radio-button>
                        <mat-radio-button value="pos"> pos</mat-radio-button>
                        <mat-radio-button value="neg">neg</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

            <div class="arg" formGroupName="scale">
                <div class="description">
                    If you provide an estimate of the size of your field, our search will be much faster. Most
                    digital-camera images are at least 10 degrees wide; most professional-grade telescopes are narrower
                    than
                    2 degrees.
                </div>
                <div class="controls">
                    <mat-form-field style="width: 100%;">
                        <!-- <mat-form-field> -->
                        <mat-label>Scale Units</mat-label>
                        <mat-select formControlName="scale_units">
                            <mat-option>Clear</mat-option>
                            <mat-option value="degwidth">width of the image, in degrees</mat-option>
                            <mat-option value="arcminwidth">width of the image, in arcminutes</mat-option>
                            <mat-option value="arcsecperpix">arcseconds per pixel</mat-option>
                            <mat-option value="focalmm">35-mm (width-based) equivalent focal length</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field style="width: 75px;">
                        <mat-label>Scale Low</mat-label>
                        <input matInput type="number" formControlName="scale_low">
                    </mat-form-field>
                    <mat-form-field style="width: 75px;">
                        <mat-label>Scale High</mat-label>
                        <input matInput type="number" formControlName="scale_high">
                    </mat-form-field>

                </div>
            </div>

            <div class="arg">
                <div class="description">
                    In order to narrow down our search, you can supply a field center along with a radius. We will only
                    search in indexes which fall within this area.
                </div>
                <div class="controls">
                    <div class="vertical" formGroupName="limits">
                        <mat-slide-toggle formControlName="enabled">Use Ra/Dec Limits</mat-slide-toggle>
                        <ng-container *ngIf="submitForm.value.solve_args.limits.enabled">
                            <mat-form-field>
                                <mat-label>RA (deg)</mat-label>
                                <input matInput type="number" formControlName="ra">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>DEC (deg)</mat-label>
                                <input matInput type="number" formControlName="dec">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Radius (deg)</mat-label>
                                <input matInput type="number" formControlName="radius">
                            </mat-form-field>
                        </ng-container>
                    </div>
                </div>
            </div>

        </div>

        <div class="floating-panel">
            <button mat-raised-button color="accent" (click)="submit()" class="submit-button">Submit</button>
            <ng-container *ngFor="let job of jobs">
                <div class="jobid">
                    <span>Job ID:</span>
                    <a style="margin-right: 5px; margin-left: 5px;"[routerLink]="['/view', job]">{{ job }}</a>
                    <span class="fill"></span>
                    <button mat-raised-button color="primary" (click)="acknowledgeJob(job)">close</button>
                </div>
            </ng-container>
        </div>

    </form>

</div>